* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#caption {
  font-family: 'Karla', sans-serif;
  color: #197e99;
  font-size: 25px;
}
div#caption {
  height: 17em;
  position: relative;
}
div#caption h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.wrap {
  width: 30%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.search {
  width: 100%;
  position: relative;
}
.box:focus {
  color: rgba(48,65,73,0.9);
}
.box {
  float: left;
  width: 100%;
  border: 3px solid rgba(48,65,73,0.9);
  padding: 10px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  color: #197e99;
}
.searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 30px;
  border: 1px solid rgba(48,65,73,0.9);
  background: rgba(48,65,73,0.9);
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
