my-font = 'Karla', sans-serif
my-color = rgb(25, 126, 153)
size = 25px

// center things
centering(n, m)
  margin 0
  position absolute
  top n
  left n
  margin-right m
  transform translate(m,m)

*
  padding: 0
  margin: 0
  box-sizing: border-box;

#caption
  font-family: my-font
  color: my-color
  font-size: size
div#caption
  height: 17em
  position: relative
div#caption h1
  centering(50%,-50%)

.wrap
  width: 30%
  centering(50%,-50%)

.search
  width: 100%
  position: relative
.box:focus
  color: rgba(48,65,73,0.9)
.box
  float: left
  width: 100%
  border: 3px solid rgba(48, 65, 73, 0.9)
  padding: 10px
  height: 30px
  border-radius: 5px
  outline: none
  color: my-color

.searchButton
  position: absolute;
  right: -50px
  width: 40px
  height: 30px
  border: 1px solid rgba(48, 65, 73, 0.9)
  background: rgba(48, 65, 73, 0.9)
  text-align: center
  color: #fff
  border-radius: 5px
  cursor: pointer
  font-size: 20px

// flex
.main-container
  background: #f4f4f4
  font-family: my-font

.flex
  padding: 0
  margin: 0
  list-style: none
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -moz-flex
  display: -webkit-flex
  display: flex
  flex-direction: column

.wrap
  -webkit-flex-wrap: wrap
  flex-wrap: wrap
.item
  padding: 5px
  margin: 8px
  line-height: 76px
  color: black
  font-weight: bold
  font-size: 1em
  text-align: center
.pic
  width: 16%
