my-font = 'Karla', sans-serif
my-color = rgb(25, 126, 153)
size = 25px
centered = translate(-50%, -50%)

#caption
  font-family: my-font
  color: my-color
  font-size: size
div#caption
  height: 10em
  position: relative
div#caption h1
  margin: 0
  position: absolute
  top: 50%
  left: 50%
  margin-right: -50%
  transform: centered
